/* Poker Clock Styles */
body {
    font-family: Inter, Arial, sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
    margin: 0 20%;
    padding: 0;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.level {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.timer {
    font-size: 30pt;
    background-color: #ffffff09;
    padding: 1.25rem 15rem;
    border-radius: 10px;
    margin: .5rem 0 .5rem 0;
    border: 2px solid #0000;
}

.info {
    font-size: 16px;
    margin-bottom: 20px;
}

.controls button {
    font-size: 18px;
    padding: .5rem .75rem;
    margin: .75rem .5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    min-width: 120px;
}

.running {
    border: 2px solid #3d5c44;
}

.pause {
    border: 2px solid #3d3d3d;
}

.controls button:nth-child(1) {
    border: 1px solid #28a745;
    background-color: transparent;
    color: #28a745;
}

.controls button:nth-child(2) {
    border: 1px solid #ffc107;
    background-color: transparent;
    color: #ffc107;
}

.controls button:nth-child(3) {
    border: 1px solid #dc3545;
    background-color: transparent;
    color: #dc3545;
}

.controls button:hover {
    opacity: 0.8;
}

#blinds {
    border-bottom: 1px solid #fff1;
    width: 100%;
    margin: 1.25rem 0;
    padding: 1.25rem 0;
}

#blind-current {
    font-size: 48pt;
    margin-bottom: .5rem;
}

#blind-next {
    font-size: 18pt;
    opacity: .33;
    padding: 0;
}